@{
    Layout = null;
}
<html>
<body>
    <div id="root">
        <page></page>
    </div>
</body>
</html>
<link href="~/css/vuetify.css" rel="stylesheet">
<link href="~/css/commonVuetify.css" rel="stylesheet">
<script src="~/dist/main.js"></script>
<style>
@@font-face {
    font-family: "BAUHS93"; font-weight: 400; src: url(../../fonts/BAUHS93.TTF); }

#logoText { font-family: "BAUHS93"; font-size:50px; color:#ff00d3 }
    .toolbar__content {
        align-items: center; /* just in case*/
        justify-content: space-between;
    }
    .box p:nth-child(2) {
        text-align: center;
        background-color: lime;
        flex: 1 1 0px;
    }

</style>
